.conteinerPadre{
    background-image: url("https://i.pinimg.com/564x/b4/10/f3/b410f31ddcad231275a591002b6a465e.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 900px;
}
.icon-github {
    color: black;
  }
  .icon-linkedin {
    color: black;
  }
  .icon-instagram {
    color: black;
  }

.social-icons {
    display: flex;
    justify-content: center;
   
    align-items: center;
  }
  .social-icons i {
    margin-right: 10px;
  }
  .social-icons i {
    font-size: 25px;
  }
.container{
    display: flex;
   
    height: 550px;
    margin-top: 50px;
}
.card {

    max-width: 300px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;

  }
  
  .card img {
    width: 100%;
    height: auto;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 14px;
    line-height: 1.5;
    color: #777;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .card-img-top{
    border-radius:100%;

  }
  .team-description {
    text-align: center;
    margin: 40px 0;
}

.team-description h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.team-description p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: justify;
}
